---
import data from '@data';

interface Props {
    images: string;
}

const {images} = data.navbar;
---

<nav class="navbar font-semibold fixed top-0 left-1/2 transform -translate-x-1/2 w-full z-40 bg-transparent text-neutral-400 transition-all duration-300" aria-label="Main navigation">
    <div class="container mx-auto px-6 md:px-8 lg:px-16 xl:px-52">
        <header class="contenido rounded-full bg-transparent flex justify-between items-center px-8 py-4">
            <a href="/" class="block text-lg font-bold relative" aria-label="Inicio">
                <picture>
                    <source srcset={`/images/${images}.avif`} type="image/avif">
                    <source srcset={`/images/${images}.webp`} type="image/webp">
                    <img 
                    src={`/images/${images}.png`}
                    alt="{{ 'Logo de' . $name }}" 
                    width="96" 
                    height="96" 
                    class="w-12 h-auto" 
                    loading="lazy">
                </picture>
            </a>

            <nav aria-label="Menú principal">
                <ul id="menu-toggle" class="hidden md:flex-grow md:flex md:justify-center space-x-6" role="menubar">
                    <li role="menuitem"><a href="/" data-type="item" class="hover:text-white relative">Inicio</a></li>
                    <li role="menuitem"><a href="/sobre-nosotros" data-type="item" class="hover:text-white relative">¿Quiénes somos?</a></li>
                    <li role="menuitem"><a href="/visitanos" data-type="item" class="hover:text-white relative">Visítanos</a></li>
                    <li role="menuitem"><a href="/donacion" data-type="item" class="hover:text-white relative">Donaciones</a></li>
                </ul>
            </nav>

            <a
                href="/admision"
                class="text-sm font-bold py-2.5 px-6 rounded-full border border-white text-white hover:bg-white hover:border-white hover:text-neutral-900 transition duration-300"
                aria-label="Ir a la página de admisión"
                data-type="button-link"
            >
                ¡Inscríbite ya!
            </a>
        </header>
    </div>
</nav>
